

.switch {
  width: 2rem;
  height: 1rem;
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  width: 1rem;
  height: 1rem;
  background-color:#C4C4C4 ;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  rgba(0, 240, 255, 0.2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
  background-color: #00F0FF;
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}