
.tableContainer{
    width: 100%;
    height: 41.375rem;
    overflow-y: auto;
}

.table>:not(caption)>*>* {
    background-color: rgb(31 41 55);
}
.table thead tr th:first-child{
  text-align: center;
  vertical-align: middle;
}
  .number{
    vertical-align: middle;
    text-align: center;
  }
  .tableRow{
    cursor: pointer;
  }

  @media screen and (max-width: 790px){
    .table{
      width: 730px;
      overflow-x: auto;
    }
  }