.subMenuWrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease, opacity 0.2s ease;
  &.open {
    max-height: 12.5rem;
    transition: all 0.3s ease;
    margin-top: 1.5rem;
  }
}
.sideBarMenu {
  &.home_sidebar {
    // height: calc(100vh - 10rem);
    // top: 10rem;
    height: calc(100vh - 4rem);
    top:4rem;
  }
  height: calc(100vh - 4rem);
  width: 15rem;
  background-color:#50CFA9;
  transition: width 0.2s linear;
  position: fixed;
  left: 0;
  top: 4rem;
  z-index: 99;
}
.sideBarStreamMode {
  height: 100vh !important;
  width: 15.5rem;
  position: fixed !important;
  right: 0;
  top: 0 !important;
  z-index: 999999;
  padding-top: calcRem(20px);
  transform: translateX(0);
  transition: transform 0.3s ease;
}
.hiddenMenu {
  transform: translateX(120%);
}
.subMenus {
  padding: 2rem 0 0;
  height: 11rem;
}
.pointer {
  cursor: pointer;
}
.subMenuItem {
  display: flex;
  position: relative;
  color: #e2e2e2;
  text-decoration: none;
  padding-right: 2rem;
  white-space: nowrap;
  &.hasSubMenu {
    flex-direction: column;
  }
  &:not(.hasSubMenu) {
    cursor: pointer;
    align-items: center;
    &:hover {
      color:#fff;
      .subMenuText {
        font-weight: bold;
      }
      .subMenuIcon {
        svg {
          path {
            fill: #fff !important;
          }
        }
      }
    }
  }
  .arrow {
    position: absolute;
    top: 0;
    left: 1rem;
    transition: all 0.3s ease;
  }

  &.open {
    .arrow {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .subMenuIcon {
    display: inline-flex;
    padding-right: 12px;
    // &.stream_icon {
    //   svg {
    //     width: 1.3rem;
    //     height: 1.3rem;
    //   }
    // }
    svg {
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 1rem;
      path {
        fill: #e9e9e9  !important;
      }
    }
  }
  .subMenuText {
    color: #e9e9e9;
    font-family:sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    &:hover {
      color: #fff;
    }
  }
}
.collapsedMenu {
  width: 5.5rem !important;
  transition: width 0.2s linear;
  right: 0;
  .subMenuWrapper {
    // max-width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(40%);
    right: 100%;
    background-color: #1d2333;
    box-shadow: 0px 0px 0.75rem 0.625rem rgb(0 0 0 / 25%);
    max-height: unset;
    opacity: 0;
    visibility: hidden;
    &.open {
      transform: translateY(-50%) translateX(5%);
      opacity: 1;
      visibility: visible;
      // max-width: 18.75rem;
      max-height: unset;
      transition: all 0.3s ease;
      margin-top: 0;
      padding: 0.5625rem 1rem;
      .subMenuItem {
        margin: 0;
        padding: 8px;
        &:first-child {
          border-bottom: 2px solid rgba(255, 255, 255, 0.08);
        }
      }
      .activeIndicator {
        display: none;
      }
    }
  }
  .subMenus {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }
  .subMenuItem {
    position: relative;
    padding-right: 0;
    justify-content: center;
    &.hasSubMenu {
      align-items: center;
    }
    .arrow {
      display: none;
    }
    .subMenuText:not(.show) {
      display: none;
    }

    .subMenuIcon {
      svg {
        margin-left: 0;
      }
    }
    .activeIndicator {
      position: absolute;
      right: 0;
      margin-left: 0;
    }
  }
}

.activeMenu {
  padding-right: 0;
  color: #249875;
  .subMenuIcon {
    svg {
      path {
        fill: #249875 !important;
      }
    }
  }
  .subMenuText {
    font-weight: bold;
    color: #249875;
  }
}

.activeIndicator {
  background: #249875;
  border-radius: 0.3125rem 0 0 0.3125rem;
  width: 0.25rem;
  height: 1.5rem;
  margin-left: 1.75rem;
}
.divider {
  background-color: black;
  display: block;
  width: 100%;
  height: 0.025rem;
}

.users {
  padding: 0 1.5rem 0.5rem 0.5rem;
  height: calc(100% - 11rem);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &.shortenUsers {
    padding: 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.users::-webkit-scrollbar {
  display: none;
}

.userBadgeContainer {
  padding: 0.5rem;
  &:hover {
    background: #161b27;
    border-radius: 0.65rem;
  }
}
.loadMoreBtn {
  background: transparent;
  border: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: aqua;
  margin-top: 1rem;
}
.hamburgerMenu {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  &svg {
    path {
      stroke: #fff !important;
    }
  }
}
.logo {
  cursor: pointer;
  &Avatar {
    svg {
      width: 2.9375rem;
      height: 2.5rem;
    }
  }
  &Typo {
    margin-right: 0.5rem;
    svg {
      width: 6rem;
      height: 1.0625rem;
    }
  }
}
.subWrapper,
.sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subWrapper {
  padding-right: 2rem;
}

.thickDivider {
  background-color: black;
  display: block;
  width: 100%;
  height: 0.125rem;
  margin: calcRem(20px) 0 0 0;
}

// @media screen and (max-width: $breakpoint-lg-custom) {
//   .sideBarMenu {
//     display: none;
//   }
// }
// @media screen and (max-width: $breakpoint-md-custom) {
//   .user {
//     margin-right: 1.5rem;
//   }
//   .logo {
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     &Avatar {
//       svg {
//         width: 2.5rem;
//         height: 2.5rem;
//       }
//     }
//     &Typo {
//       margin-right: 0;
//       display: inline-flex;
//       svg {
//         width: 1.75rem;
//         height: 0.3125rem;
//       }
//     }
//   }
// }
